.main.wrap-padding
  .group
    .group-items
      - @products.each do |product|
        = render 'spree/shared/product', product: product
      .clearfix

  - if @products.respond_to?(:total_pages)
    .text-center= paginate @products, theme: 'twitter-bootstrap-3'
