.main.wrap-padding#faq_page
  #about_us_banner
    .container
      .row
        .col-lg-12.text-center
          %h1
            %font{ color: '#fff'} Supercharge your business with
            %font{ color: '#ff4e00' } innovative eCommerce solutions
          %h2
            %font{ color: '#fff' } Uberizing the entire service industry, JOIN US!
          %a.play-btn.fancybox.iframe{href: 'http://player.vimeo.com/video/176258200'}
            = image_tag 'btn-play-hover.png'

  %h1.text-center.title F.A.Q's

  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
          Q. What exactly does yoyakka do?
    #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        A. We are a website for businesses and a marketplace for the consumers who are searching for service providers near and far. As a business and service provider
        you can configure our features to meet your needs on your own micro-site, such as e-commerce and scheduling, so consumers can purchase your services directly, easily,
        intuitively and securely.
  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
          Q. I already have my own website for my small business. How can yoyakka help me?
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        A. We encourage our providers to link to their website and social profiles to tell their story and this helps consumer to make an informed decision.
        Yoyakka provides a micro-website and can enhance how consumers engagement with your service. We focus on consumer engagement, and what makes consumers
        engage with your service is consistency and easablity. We've all done that time wasting search engine suffle looking through websites both good and bad,
        and this isn't a great consumer experience (UX). Yoyakka does things differently, businesses are presented as a service where consumers can schedule and
        purchase services directly, easily, intuitively and securely right on yoyakka.
  .panel.panel-default
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
          Q. What does consumer engagement mean?
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        A. The consumer can come onto our site and find you because of our standardised user-friendly design. They can also schedule your service and pay for
        that service all through yoyakka. Being an early subscriber is the beginning of the process, but once you have your microsite we highly recommend you
        take advantage of all of the features we offer to maximise consumer engagement.son cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button"}
          Q. How is my early subscription RISK-FREE?
    #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        A. It's simple. If you're not 100% satisfied after purchasing your yoyakka subscription, we'll refund your credit card. And if we don't get 2,500 early
        subscribers, We will, but if we don't launch or you change your mind and would rather wait for our Grand Opening then your credit card will be refunded
        the full amount (our contact details are on our website and receipt).
  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseFive", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive", :role => "button"}
          Q. Are there any other reasons why I should be an early adopter? Why not wait until yoyakka is an established online marketplace?
    #collapseFive.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        A. A recent article by Paulo Carvao, General Manager, Sales, IBM Systems Hardware, talks about the importance of businesses getting on board early with the
        connected economy so that they increase revenue and are not left behind. We at yoyakka know we've got an exciting model for an interconnected community of
        service providers and consumers, and we know you'll be glad you were one of the smart ones who got in early!
  .panel.panel-default
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseSiz", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSiz", :role => "button"}
          Q. What are my rewards for being one of the first 2,500 early adopters of yoyakka?
    #collapseSiz.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        A. A Lifetime Subscription to yoyakka.com - our forever thank you!
        %br
        A special recognition page with a link to your company profile and our recognition of the important part your business played in the launch of yoyakka.
        %br
        A boost for your company's placement within our search results. We'll make sure your profile has some extra care and features so that it stands out.
        %br
        Social media campaigning. You'll be part of yoyakka's Grand Opening PR campaign, which means more opportunities for potential consumers to engage with your business during
        our blitz.
        %br
        Early shopper discounts for suppliers who set up e-commerce features with us. Funded by yoyakka, these give consumers an opportunity to try the site.
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseSeven", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven", :role => "button"}
          Q. What is yoyakka's search results boost that you offer the first 2,500 adopters?
    #collapseSeven.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        A. As thanks from us, we highlight your company within our site and consumer search results. In other words, we'll really look after you if you show your commitment to us!
  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseEight", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight", :role => "button"}
          Q. In your video, you say that you have a number of measures to maintain your consumer satisfaction for service providers and
          if they continually under-perform
          they're out of yoyakka. Can you explain more about that?
    #collapseEight.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        A. We're all about customer satisfaction and we want to help ensure our service providers are giving consumers great service.
        Because feedback comes directly to us, we'll work with our providers and consumers to determine what the problems are and help mediate
        the right outcome.


  %br
  %br
  %br

  %h3.text-center
    "At yoyakka, our purpose is helping everyone do better business.
    %br
    We'd love to have you onboard!"
  %h2.text-center
    = image_tag 'rick-morcom.png'
    \- Rick Morcom, Director and Co-Founder

  %br
  %br

  %h6.text-center
    = button_tag 'BUY Early Reward', class: 'btn btn-sm btn-info'
    %br
    %em *All transactions are secure, we do not store your credit card details.
