- admin = try_spree_current_user.try(:has_spree_role?, "admin") || true
%header{:class => "header #{admin ? "logged-in" : "logged-out"}"}
  %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    .container-fluid
      .row
        .navbar-header.col-sm-3.col-md-2
          = link_to(                                                       |
              image_tag(Spree::Config[:admin_interface_logo], id: 'logo'), |
              root_path,                                            |
              class: "logo navbar-brand"                                   |
            )                                                              |
          - if admin
            %span#sidebar-toggle.navbar-toggle
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
        - if admin
          .col-sm-9.col-md-10
            .navbar-right{"data-hook" => "admin_login_navigation_bar"}
